
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Food icon home */

.menuContainer{
margin-top: 10%;
display: flex;
flex-direction: column;

}

/* Food Section */
.food{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
.sweetmeatText{
  padding-left: 10%;
  padding-top: 2%
}

.sweetmeatImage{
  width: 30%;
  height: 30%;
  border: brown 4px solid;
}

/* Drink Section */
.drinks{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
.teacoffText{
  padding-left: 10%;
  padding-top: 2%
}

.drinkImage{
  width: 30%;
  height: 40%;
  border: brown 4px solid;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.categoryTitle{
  padding: 20px 20px;
  text-align: center;
  font-size: 40px;
}
.categoryButton{
  padding: 20px 60px;
  background-color: rgb(116, 132, 85);
  margin: 2px 11px;
  font-size: 17px;
  display: inline-block;
  border-radius: 30px;
  font-weight: bolder;
  color: white;
}

.categoryButton:hover {
  color: bisque;
}

.addToCart{
  background-color: rgb(116, 132, 85);
  border-radius: 30px;
  margin: 15px 110px;
  padding: 20px 10px;
  color: white;
}

.addToCart:hover {
  color: bisque;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login Page*/

.containerlogin {
  border : 3px solid white;
  border-radius: 10px;
  display: flex;
 text-align: center;
 align-items: center;
 background-color: rgba(116,132,85);
 flex-direction: column;
 box-sizing:border-box ;
  
}

.bg-img {
   background-image: url("https://images.pexels.com/photos/4109384/pexels-photo-4109384.jpeg"); 
}

input {
 width: 50%;
   padding: 20px; 
  border-radius: 20px;
  height: 50%;
  text-align:center;
  color:rgb(59, 43, 43);
}

Link {
  text-align: left;
  padding-bottom: 20px;
}

.btndotosign {
  background-color: rgb(72, 61, 61);
  border-radius: 30px;
  padding: 8px;
  color:white;
}

.headerlog {
  padding-top: 2rem; 
}

h9 {
  color:white;
  font-size: x-large;
  text-align: center ;
}

.submitlogbtn {
  border-radius: 20px;
 padding:1rem;
  color:white;

}

/*Signup Page*/

.containersign {
  border : 3px solid white;
  border-radius: 10px;
  display: flex;
 text-align: center;
 align-items: center;
 background-color: rgba(116,132,85);
 flex-direction: column;
 box-sizing:border-box;
}

.submitsignbtn {
  border-radius: 30px;
  padding:1rem;
  color: white;
}

.btngotologin {
  background-color: rgb(72, 61, 61);
  border-radius: 30px;
  padding: 8px;
  color:white;
}

h10 {
  color:white;
  font-size: x-large;
  text-align: center ;
  
}
/* Hero Banner */

.containerhero {
  display: flex;
}

.heroban {
  color:white;
  
}

.heroban2 {
  color: white;
  
}